@import "../asset/font/iconfont.css";
@import "../asset/style/common.scss";

#content {
    & > .search {
        margin-top: 15px;
        > div {
            width: 350px;
            float: left;
            line-height: 30px;
            select {
                width: 100px;
            }
        }
        overflow: hidden;
    }
    .data-list {
        height: 900px;
        background-color: #abcd;
        margin-top: 15px;
    }
}
